


/* theme 3 */
/* orange yellow */

@fg: #050506;
@bg: #f1f333;  
@bg2: #ffc900;
@bg3: #ff90e8;
@glow: none;
@link: #1c2f4f;
@link-hover: desaturate(darken(@fg,25%),40%);
@link-visited: @link;
@heading: @fg;
@heading-weight: bold;  /* normal or bold */
@font: Archivo Narrow;
@font: Open Sans;
@font-heading: @font;  /* not used */
