


/* theme 2 */
/* blue purple */

@fg: #050506;
@bg: #ff90e8;  
@bg2: #ac99ff;
@bg3: #90a8ed;
@glow: none;
@link: #1c2f4f;
@link-hover: desaturate(darken(@fg,25%),40%);
@link-visited: @link;
@heading: @fg;
@heading-weight: bold;  /* normal or bold */
@font: Archivo Narrow;
@font: Open Sans;
@font-heading: @font;  /* not used */
