


/* theme 1 */
/* green yellow blue */

@fg: #050506;
@bg: #fff35c;
@bg2: #23a094;  /* 5c97ff*/
@bg3: #5c97ff;  /* 5c97ff*/
@glow: none;
@link: #1c2f4f;
@link-hover: desaturate(darken(@fg,25%),40%);
@link-visited: @link;
@heading: @fg;
@heading-weight: bold;  /* normal or bold */
@font: Archivo Narrow;
@font: Open Sans;
@font-heading: @font;  /* not used */
