


/* theme 6 */
/* Summer shower Magenta cyan */
/* https://www.canva.com/colors/color-palettes/thwarted-summer-shower/ */

@fg: #050506;
@bg: #bcece0;  
@bg2: #36eee0;
@bg3: #f652a0;
@glow: none;
@link: #4c5270;
@link-hover: desaturate(darken(@fg,25%),40%);
@link-visited: @link;
@heading: @fg;
@heading-weight: bold;  /* normal or bold */
@font: Archivo Narrow;
@font: Open Sans;
@font-heading: @font;  /* not used */
