


/* theme 5 */
/* orange pink cyan */

@fg: #050506;
@bg: #f8d210;  
@bg2: #2ff3e0;
@bg3: #fa26a0;
@glow: none;
@link: #f51720;
@link-hover: desaturate(darken(@fg,25%),40%);
@link-visited: @link;
@heading: @fg;
@heading-weight: bold;  /* normal or bold */
@font: Archivo Narrow;
@font: Open Sans;
@font-heading: @font;  /* not used */
