


/* theme 4 */
/* purple pink rosa */

@fg: #050506;
@bg: #ffd6d7;  
@bg2: #a89cf9;
@bg3: #a89cf9;
@glow: none;
@link: #1c2f4f;
@link-hover: desaturate(darken(@fg,25%),40%);
@link-visited: @link;
@heading: @fg;
@heading-weight: bold;  /* normal or bold */
@font: Archivo Narrow;
@font: Open Sans;
@font-heading: @font;  /* not used */
