


/* theme 8 */
/* paster dreams */
/* https://www.canva.com/colors/color-palettes/pastel-dreams/ */

@fg: #442e32; /* base: #ffaebc */
@bg: #fbe7c6;  
@bg2: #b4f8c8;
@bg3: #a0e7e5;
@glow: none;
@link: #4c5270;
@link-hover: desaturate(darken(@fg,25%),40%);
@link-visited: @link;
@heading: @fg;
@heading-weight: bold;  /* normal or bold */
@font: Archivo Narrow;
@font: Open Sans;
@font-heading: @font;  /* not used */
